<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="site-footer-inner">
      {%- assign currentYear = 'now' | date: "%Y" -%}
      {%- assign copyright = site.copyright
          | replace: '{currentYear}', currentYear
          | replace: '{author}', site.author
          | replace: '(c)', '&copy;'
          | replace: '(p)', '℗'
          | replace: '(cleft)', '<span class="copyleft">&copy;</span>'
      -%}
      <div>{{ copyright }}</div>
      <div class="social-links">
        <a href="https://github.com/jr-dev1001" title="GitHub" target="_blank">
          <img src="https://github.githubassets.com/favicon.ico" alt="GitHub" style="width:32px;height:32px;">
        </a>
        <a href="mailto:jr_dev_vam@protonmail.com" title="Email">
          <img src="https://ssl.gstatic.com/ui/v1/icons/mail/images/favicon5.ico" alt="Email" style="width:32px;height:32px;">
        </a>
        <a href="https://discord.com/users/jr_dev1001" title="Discord" target="_blank">
          <img src="https://cdn-icons-png.flaticon.com/512/2111/2111370.png" alt="Discord" style="width:32px;height:32px;">
        </a>
        <a href="https://twitter.com/JrDev1001" title="X" target="_blank">
          <img src="https://abs.twimg.com/favicons/twitter.ico" alt="X" style="width:32px;height:32px;">
        </a>
      </div>
    </div>
  </div>
</footer>
